[Unit]
Description=Servico Firewall

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/opt/firewall.sh start
ExecStop=/opt/firewall.sh stop
ExecReload=/opt/firewall.sh restart

[Install]
WantedBy=multi-user.target